<a href="https://colab.research.google.com/github/emmanuelAron/panda_training/blob/main/Series_at_a_glance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [ ]:
students = ['Andrew', 'Brian' , 'Katia']

In [ ]:
type(students)

list

In [ ]:
pd.Series(students)

0    Andrew
1     Brian
2     Katia
dtype: object

In [ ]:
ages = [27,49,37]

In [ ]:
pd.Series(ages)

0    27
1    49
2    37
dtype: int64

In [ ]:
heights = [167.4,173.3,190.0]

In [ ]:
pd.Series(heights)

0    167.4
1    173.3
2    190.0
dtype: float64

In [5]:
books_list = ['Fooled by randomness' , 'Sapiens' ,'Lenin on the train']

In [10]:
list_s = pd.Series(books_list)

In [6]:
books_dict = {0:'Fooled by randomness' , 1:'Sapiens' ,2:'Lenin on the train'}

In [26]:
dict_s = pd.Series(books_dict)

In [21]:
list_s.equals(dict_s)

NameError: ignored

In [23]:
dist_s

0    Fooled by randomness
1                 Sapiens
2      Lenin on the train
dtype: object

In [27]:
list_s.equals(dict_s)

True

In [28]:
list_s

0    Fooled by randomness
1                 Sapiens
2      Lenin on the train
dtype: object

In [29]:
pd.Series('Emma')

0    Emma
dtype: object