<a href="https://colab.research.google.com/github/emmanuelAron/panda_training/blob/main/Skill_challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
actors_names = ['James Dean','Alain Delon','Hugh Grant','Harrison Ford']

In [3]:
actors_ages = [45,67.2,55,77]

In [4]:
import pandas as pd

In [5]:
pd.Series(actors_ages,actors_names)

James Dean       45.0
Alain Delon      67.2
Hugh Grant       55.0
Harrison Ford    77.0
dtype: float64